scikit-learn==0.22.2.post1
scipy==1.4.1
numpy==1.18.5
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pandas==1.1.4
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
pandocfilters==1.4.3
matplotlib==3.2.2
pickleshare==0.7.5
bz2file==0.98
